[ssh_connection]
#ssh_args = -o RSAAuthentication=yes -o GSSAPIAuthentication=yes -o StrictHostKeyChecking=no -o HostKeyAlgorithms=ssh-rsa,ssh-dss -o ForwardX11Trusted=yes

[defaults]
action_plugins = /usr/lib/python2.7/site-packages/ara/plugins/actions:/usr/lib/python2.7/site-packages/pypillar/plugins/actions
callback_plugins = /usr/lib/python2.7/site-packages/ara/plugins/callbacks
vars_plugins = /usr/lib/python2.7/site-packages/pypillar/plugins/vars
library = /usr/lib/python2.7/site-packages/ara/plugins/modules:/usr/lib/python2.7/site-packages/pypillar/modules

[ara]
host = 0.0.0.0
database = mysql+pymysql://ara:adminara@10.42.231.78/ara
logfile = /opt/ansible/ara/ara.log
loglevel = INFO
