## This is a sample configuration file. See the nxlog reference manual about the
## configuration options. It should be installed locally and is also available
## online at http://nxlog.org/docs/

## Please set the ROOT to the folder your nxlog was installed into,
## otherwise it will not start.

define ROOT C:\Program Files (x86)\nxlog

Moduledir %ROOT%\modules
CacheDir %ROOT%\data
Pidfile %ROOT%\data\nxlog.pid
SpoolDir %ROOT%\data
LogFile %ROOT%\data\nxlog.log

<Extension charconv>
    Module      xm_charconv
    AutodetectCharsets utf-8, euc-jp, utf-16, utf-32, iso8859-2
</Extension>

<Extension json>
    Module      xm_json
</Extension>

<Extension _syslog>
    Module      xm_syslog
</Extension>

<Extension multiline_mssql_error>
    Module      xm_multiline
    HeaderLine  /^\d\d\d\d-\d\d-\d\d \d\d:\d\d:\d\d/
</Extension>

<Input event_log>
    Module      im_msvistalog
      Exec      convert_fields("AUTO", "utf-8");
     Query      <QueryList>\
                    <Query Id="0">\
                        <Select Path="Application">*</Select>\
                        <Select Path="System">*</Select>\
                        <Select Path="Security">*</Select>\
                        <Select Path="Setup">*</Select>\
                    </Query>\
                </QueryList>
      Exec      to_json();
</Input>

<Output out_1>
    Module      om_tcp
    Host        {{ graylog_server.meta.log_server }}
    Port        1514
    Exec        to_syslog_bsd();
</Output>

<Route 1>
    Path        sql_error, event_log => out_1
</Route>
