########################################
# Global directives                    #
########################################
User nxlog
Group nxlog

LogFile /var/log/nxlog/nxlog.log
LogLevel INFO

########################################
# Modules                              #
########################################
<Extension _syslog>
    Module      xm_syslog
</Extension>

<Extension multiline_db_slowlog>
    Module    xm_multiline
    HeaderLine   /^# Time:/
</Extension>

<Input slowlog>
    Module           im_file
    File             '{{ mysql_log.meta.slow_log }}'
    InputType        multiline_db_slowlog
    SavePos          TRUE
    ReadFromLast     TRUE
    PollInterval     1
    Exec             $Message = $raw_event;
    Exec             $SourceName = 'mysql_slowlog';
</Input>

<Input error_log>
    Module           im_file
    File             '{{ mysql_log.meta.error_log }}'
    SavePos          TRUE
    ReadFromLast     TRUE
    PollInterval     1
    Exec             $Message = $raw_event;
    Exec             $SourceName = 'mysql_errorlog';
</Input>

<Output tcp>
    Module      om_tcp
    Host        {{ graylog_server.meta.log_server }}
    Port        1514
    Exec        to_syslog_bsd();
</Output> 

<Route 1>
    Path        error_log => tcp
</Route>

<Route 2>
    Path        slowlog => tcp
</Route>
