[default]
subscription_id={{ pillar['azure_info']['subscription_id'] }}
client_id={{ pillar['azure_info']['client_id'] }}
secret={{ pillar['azure_info']['client_secret'] }}
tenant={{ pillar['azure_info']['tenant_id'] }}
