{
  "CN": "{{ pillar.ca_common.cn }}",
  "key": {
    "algo": "{{ pillar.ca_common.algo }}",
    "size": {{ pillar.ca_common.key_size }}
  },
  "names": [
    {
      "C": "{{ pillar.ca_common.country }}",
      "ST": "{{ pillar.ca_common.state }}",
      "L": "{{ pillar.ca_common.city }}",
      "O": "{{ pillar.ca_common.organization }}",
      "OU": "{{ pillar.ca_common.ou }}"      
    }
  ]
}
