{
    "key": { 
        "algo": "rsa", 
        "size": 4096
    },
    "CN": "etcd.com",
    "names": [
        {
            "C":  "TW",
            "L":  "Taipei",
            "O":  "personal",
            "OU": "etcd",
            "ST": "Taipei"
        }
    ]
}
