[Unit]
Description=Percona Xtra Cluster Check

[Service]
Type=simple
Restart=always
RestartSec=5s
ExecStart=/usr/bin/checkmysql

[Install]
WantedBy=multi-user.target
